
        .icon  {
            &.s-ada {
                background-image: url('~@/assets/ada.png');
            }
        }
        .icon  {
            &.s-shib {
                background-image: url('~@/assets/shib.png');
            }
        }
        .icon  {
            &.s-steth {
                background-image: url('~@/assets/steth.png');
            }
        }
        .icon  {
            &.s-trx {
                background-image: url('~@/assets/trx.png');
            }
        }
        .icon  {
            &.s-axs {
                background-image: url('~@/assets/axs.png');
            }
        }
        .icon  {
            &.s-fil {
                background-image: url('~@/assets/fil.png');
            }
        }
        .icon  {
            &.s-waves {
                background-image: url('~@/assets/waves.png');
            }
        }
        .icon  {
            &.s-osmo {
                background-image: url('~@/assets/osmo.png');
            }
        }
        .icon  {
            &.s-cusdc {
                background-image: url('~@/assets/cusdc.png');
            }
        }
        .icon  {
            &.s-rune {
                background-image: url('~@/assets/rune.png');
            }
        }
        .icon  {
            &.s-miota {
                background-image: url('~@/assets/miota.png');
            }
        }
        .icon  {
            &.s-omi {
                background-image: url('~@/assets/omi.png');
            }
        }
        .icon  {
            &.s-xido {
                background-image: url('~@/assets/xido.png');
            }
        }
        .icon  {
            &.s-tfuel {
                background-image: url('~@/assets/tfuel.png');
            }
        }
        .icon  {
            &.s-zec {
                background-image: url('~@/assets/zec.png');
            }
        }
        .icon  {
            &.s-juno {
                background-image: url('~@/assets/juno.png');
            }
        }
        .icon  {
            &.s-ar {
                background-image: url('~@/assets/ar.png');
            }
        }
        .icon  {
            &.s-btt {
                background-image: url('~@/assets/btt.png');
            }
        }
        .icon  {
            &.s-hbtc {
                background-image: url('~@/assets/hbtc.png');
            }
        }
        .icon  {
            &.s-qnt {
                background-image: url('~@/assets/qnt.png');
            }
        }
        .icon  {
            &.s-one {
                background-image: url('~@/assets/one.png');
            }
        }
        .icon  {
            &.s-xec {
                background-image: url('~@/assets/xec.png');
            }
        }
        .icon  {
            &.s-bsv {
                background-image: url('~@/assets/bsv.png');
            }
        }
        .icon  {
            &.s-tusd {
                background-image: url('~@/assets/tusd.png');
            }
        }
        .icon  {
            &.s-ht {
                background-image: url('~@/assets/ht.png');
            }
        }
        .icon  {
            &.s-cel {
                background-image: url('~@/assets/cel.png');
            }
        }
        .icon  {
            &.s-kcs {
                background-image: url('~@/assets/kcs.png');
            }
        }
        .icon  {
            &.s-stx {
                background-image: url('~@/assets/stx.png');
            }
        }
        .icon  {
            &.s-heart {
                background-image: url('~@/assets/heart.png');
            }
        }
        .icon  {
            &.s-xrd {
                background-image: url('~@/assets/xrd.png');
            }
        }
        .icon  {
            &.s-celo {
                background-image: url('~@/assets/celo.png');
            }
        }
        .icon  {
            &.s-nexo {
                background-image: url('~@/assets/nexo.png');
            }
        }
        .icon  {
            &.s-ksm {
                background-image: url('~@/assets/ksm.png');
            }
        }
        .icon  {
            &.s-amp {
                background-image: url('~@/assets/amp.png');
            }
        }
        .icon  {
            &.s-ape {
                background-image: url('~@/assets/ape.png');
            }
        }
        .icon  {
            &.s-chz {
                background-image: url('~@/assets/chz.png');
            }
        }
        .icon  {
            &.s-kda {
                background-image: url('~@/assets/kda.png');
            }
        }
        .icon  {
            &.s-fxs {
                background-image: url('~@/assets/fxs.png');
            }
        }
        .icon  {
            &.s-cvx {
                background-image: url('~@/assets/cvx.png');
            }
        }
        .icon  {
            &.s-usdp {
                background-image: url('~@/assets/usdp.png');
            }
        }
        .icon  {
            &.s-bit {
                background-image: url('~@/assets/bit.png');
            }
        }
        .icon  {
            &.s-snx {
                background-image: url('~@/assets/snx.png');
            }
        }
        .icon  {
            &.s-gt {
                background-image: url('~@/assets/gt.png');
            }
        }
        .icon  {
            &.s-mina {
                background-image: url('~@/assets/mina.png');
            }
        }
        .icon  {
            &.s-xem {
                background-image: url('~@/assets/xem.png');
            }
        }
        .icon  {
            &.s-rose {
                background-image: url('~@/assets/rose.png');
            }
        }
        .icon  {
            &.s-cusdt {
                background-image: url('~@/assets/cusdt.png');
            }
        }
        .icon  {
            &.s-ln {
                background-image: url('~@/assets/ln.png');
            }
        }
        .icon  {
            &.s-scrt {
                background-image: url('~@/assets/scrt.png');
            }
        }
        .icon  {
            &.s-anc {
                background-image: url('~@/assets/anc.png');
            }
        }
        .icon  {
            &.s-dcr {
                background-image: url('~@/assets/dcr.png');
            }
        }
        .icon  {
            &.s-hot {
                background-image: url('~@/assets/hot.png');
            }
        }
        .icon  {
            &.s-iotx {
                background-image: url('~@/assets/iotx.png');
            }
        }
        .icon  {
            &.s-kub {
                background-image: url('~@/assets/kub.png');
            }
        }
        .icon  {
            &.s-usdn {
                background-image: url('~@/assets/usdn.png');
            }
        }
        .icon  {
            &.s-nxm {
                background-image: url('~@/assets/nxm.png');
            }
        }
        .icon  {
            &.s-xdc {
                background-image: url('~@/assets/xdc.png');
            }
        }
        .icon  {
            &.s-slp {
                background-image: url('~@/assets/slp.png');
            }
        }
        .icon  {
            &.s-waxp {
                background-image: url('~@/assets/waxp.png');
            }
        }
        .icon  {
            &.s-paxg {
                background-image: url('~@/assets/paxg.png');
            }
        }
        .icon  {
            &.s-qtum {
                background-image: url('~@/assets/qtum.png');
            }
        }
        .icon  {
            &.s-lpt {
                background-image: url('~@/assets/lpt.png');
            }
        }
        .icon  {
            &.s-renbtc {
                background-image: url('~@/assets/renbtc.png');
            }
        }
        .icon  {
            &.s-pokt {
                background-image: url('~@/assets/pokt.png');
            }
        }
        .icon  {
            &.s-bnt {
                background-image: url('~@/assets/bnt.png');
            }
        }
        .icon  {
            &.s-ankr {
                background-image: url('~@/assets/ankr.png');
            }
        }
        .icon  {
            &.s-msol {
                background-image: url('~@/assets/msol.png');
            }
        }
        .icon  {
            &.s-omg {
                background-image: url('~@/assets/omg.png');
            }
        }
        .icon  {
            &.s-gno {
                background-image: url('~@/assets/gno.png');
            }
        }
        .icon  {
            &.s-fei {
                background-image: url('~@/assets/fei.png');
            }
        }
        .icon  {
            &.s-rndr {
                background-image: url('~@/assets/rndr.png');
            }
        }
        .icon  {
            &.s-icx {
                background-image: url('~@/assets/icx.png');
            }
        }
        .icon  {
            &.s-sfm {
                background-image: url('~@/assets/sfm.png');
            }
        }
        .icon  {
            &.s-rvn {
                background-image: url('~@/assets/rvn.png');
            }
        }
        .icon  {
            &.s-kava {
                background-image: url('~@/assets/kava.png');
            }
        }
        .icon  {
            &.s-iost {
                background-image: url('~@/assets/iost.png');
            }
        }
        .icon  {
            &.s-btg {
                background-image: url('~@/assets/btg.png');
            }
        }
        .icon  {
            &.s-exrd {
                background-image: url('~@/assets/exrd.png');
            }
        }
        .icon  {
            &.s-uma {
                background-image: url('~@/assets/uma.png');
            }
        }
        .icon  {
            &.s-okt {
                background-image: url('~@/assets/okt.png');
            }
        }
        .icon  {
            &.s-sgb {
                background-image: url('~@/assets/sgb.png');
            }
        }
        .icon  {
            &.s-rly {
                background-image: url('~@/assets/rly.png');
            }
        }
        .icon  {
            &.s-vlx {
                background-image: url('~@/assets/vlx.png');
            }
        }
        .icon  {
            &.s-glmr {
                background-image: url('~@/assets/glmr.png');
            }
        }
        .icon  {
            &.s-xaut {
                background-image: url('~@/assets/xaut.png');
            }
        }
        .icon  {
            &.s-woo {
                background-image: url('~@/assets/woo.png');
            }
        }
        .icon  {
            &.s-sapp {
                background-image: url('~@/assets/sapp.png');
            }
        }
        .icon  {
            &.s-zen {
                background-image: url('~@/assets/zen.png');
            }
        }
        .icon  {
            &.s-glm {
                background-image: url('~@/assets/glm.png');
            }
        }
        .icon  {
            &.s-rpl {
                background-image: url('~@/assets/rpl.png');
            }
        }
        .icon  {
            &.s-lusd {
                background-image: url('~@/assets/lusd.png');
            }
        }
        .icon  {
            &.s-gmt {
                background-image: url('~@/assets/gmt.png');
            }
        }
        .icon  {
            &.s-babydoge {
                background-image: url('~@/assets/babydoge.png');
            }
        }
        .icon  {
            &.s-audio {
                background-image: url('~@/assets/audio.png');
            }
        }
        .icon  {
            &.s-sc {
                background-image: url('~@/assets/sc.png');
            }
        }
        .icon  {
            &.s-ont {
                background-image: url('~@/assets/ont.png');
            }
        }
        .icon  {
            &.s-zrx {
                background-image: url('~@/assets/zrx.png');
            }
        }
        .icon  {
            &.s-metis {
                background-image: url('~@/assets/metis.png');
            }
        }
        .icon  {
            &.s-nft {
                background-image: url('~@/assets/nft.png');
            }
        }
        .icon  {
            &.s-syn {
                background-image: url('~@/assets/syn.png');
            }
        }
        .icon  {
            &.s-dome {
                background-image: url('~@/assets/dome.png');
            }
        }
        .icon  {
            &.s-chsb {
                background-image: url('~@/assets/chsb.png');
            }
        }
        .icon  {
            &.s-dydx {
                background-image: url('~@/assets/dydx.png');
            }
        }
        .icon  {
            &.s-ohm {
                background-image: url('~@/assets/ohm.png');
            }
        }
        .icon  {
            &.s-skl {
                background-image: url('~@/assets/skl.png');
            }
        }
        .icon  {
            &.s-elon {
                background-image: url('~@/assets/elon.png');
            }
        }
        .icon  {
            &.s-cvxcrv {
                background-image: url('~@/assets/cvxcrv.png');
            }
        }
        .icon  {
            &.s-dag {
                background-image: url('~@/assets/dag.png');
            }
        }
        .icon  {
            &.s-gusd {
                background-image: url('~@/assets/gusd.png');
            }
        }
        .icon  {
            &.s-jst {
                background-image: url('~@/assets/jst.png');
            }
        }
        .icon  {
            &.s-imx {
                background-image: url('~@/assets/imx.png');
            }
        }
        .icon  {
            &.s-nu {
                background-image: url('~@/assets/nu.png');
            }
        }
        .icon  {
            &.s-sys {
                background-image: url('~@/assets/sys.png');
            }
        }
        .icon  {
            &.s-poly {
                background-image: url('~@/assets/poly.png');
            }
        }
        .icon  {
            &.s-ilv {
                background-image: url('~@/assets/ilv.png');
            }
        }
        .icon  {
            &.s-keep {
                background-image: url('~@/assets/keep.png');
            }
        }
        .icon  {
            &.s-ens {
                background-image: url('~@/assets/ens.png');
            }
        }
        .icon  {
            &.s-deso {
                background-image: url('~@/assets/deso.png');
            }
        }
        .icon  {
            &.s-hive {
                background-image: url('~@/assets/hive.png');
            }
        }
        .icon  {
            &.s-knc {
                background-image: url('~@/assets/knc.png');
            }
        }
        .icon  {
            &.s-ren {
                background-image: url('~@/assets/ren.png');
            }
        }
        .icon  {
            &.s-flux {
                background-image: url('~@/assets/flux.png');
            }
        }
        .icon  {
            &.s-husd {
                background-image: url('~@/assets/husd.png');
            }
        }
        .icon  {
            &.s-ckb {
                background-image: url('~@/assets/ckb.png');
            }
        }
        .icon  {
            &.s-xno {
                background-image: url('~@/assets/xno.png');
            }
        }
        .icon  {
            &.s-tel {
                background-image: url('~@/assets/tel.png');
            }
        }
        .icon  {
            &.s-flex {
                background-image: url('~@/assets/flex.png');
            }
        }
        .icon  {
            &.s-spell {
                background-image: url('~@/assets/spell.png');
            }
        }
        .icon  {
            &.s-jewel {
                background-image: url('~@/assets/jewel.png');
            }
        }
        .icon  {
            &.s-uos {
                background-image: url('~@/assets/uos.png');
            }
        }
        .icon  {
            &.s-xdb {
                background-image: url('~@/assets/xdb.png');
            }
        }
        .icon  {
            &.s-ldo {
                background-image: url('~@/assets/ldo.png');
            }
        }
        .icon  {
            &.s-tomb {
                background-image: url('~@/assets/tomb.png');
            }
        }
        .icon  {
            &.s-lsk {
                background-image: url('~@/assets/lsk.png');
            }
        }
        .icon  {
            &.s-dgb {
                background-image: url('~@/assets/dgb.png');
            }
        }
        .icon  {
            &.s-xprt {
                background-image: url('~@/assets/xprt.png');
            }
        }
        .icon  {
            &.s-people {
                background-image: url('~@/assets/people.png');
            }
        }