$blue: #0899ae;
// $green: #1ecd93;
$green: #3335cf;
$red: #ff7d4a;
$yellow: #c8e00c;

$primary: $blue;
$danger: $red;
$warning: $yellow;
$success: $green;

@mixin number-font {font-family: 'メイリオ',"ヒラギノ角ゴ Pro W3", sans-serif; font-size: 90%;}
.number-font {@include number-font()}
@mixin main-font { font-family: 'Archivo', sans-serif}
.main-font {@include main-font()}
@mixin title-font { font-family: 'Nunito', serif;}
.title-font {@include title-font()}

.blue {color: $blue}
.green {color: $green}
.red {color: $red}
.yellow {color: $yellow}